<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li (click)="routeToPage(item.url)" *ngFor="let item of navbarItems" class="nav-item">
          <a class="nav-link" [class.active]="item.url == currentRoute" aria-current="page">{{item.name}}</a>
        </li>
      </ul>
    </div>
  </div>
</nav>