/* You can add global styles to this file, and also import other style files */

:root {
  --Casino-green: #8dc63f;
  --Casino-gray: #373737;
  --Casino-white: #ffffff;
  --Casino-ash: #fcfcfc;
}

.navbar {
  background: var(--Casino-gray) !important;
  padding: 0rem;
  .container-fluid {
    .navbar-collapse {
      .navbar-nav {
        width: 100%;
        justify-content: space-between;
        .nav-item {
          width: -webkit-fill-available;
          cursor: pointer;
          .nav-link {
            text-align: center;
            padding: 0.6rem 0rem;
          }
        }
        .active {
          background: var(--Casino-green);
        }
      }
    }
  }
}

.grid-display {
  margin-top: 40px;
  display: grid;
  grid-auto-rows: auto;
  grid-gap: 20px;
  .game-img {
    width: 210px;
    height: 150px;
    position: relative;
    z-index: 1;
    border-radius: 10px;
    cursor: pointer;
    .main-image {
      object-fit: cover;
      height: inherit;
      width: inherit;
      border-radius: 10px;
      opacity: 1;
      display: block;
      transition: 0.5s ease;
      backface-visibility: hidden;
      z-index: 2;
    }
    .button-wrapper {
      transition: 0.5s ease;
      opacity: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      text-align: center;

      p {
        margin: 0;
        color: var(--Casino-gray);
        font-size: 14px;
      }
    }
    .top-ribbon,
    .new-ribbon {
      height: 80px;
      width: 80px;
      z-index: 4;
      position: absolute;
      top: -5px;
    }
    .top-ribbon {
      left: -5px;
    }
    .new-ribbon {
      right: -5px;
    }
  }
  .game-img:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
      rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
      rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  }
  .game-img:hover .main-image {
    opacity: 0.3;
  }

  .game-img:hover .button-wrapper {
    opacity: 1;
  }

  .button {
    background-color: var(--Casino-green);
    color: var(--Casino-white);
    font-size: 14px;
    padding: 10px 16px;
    border-radius: 10px;
    cursor: pointer;
  }
  .jackpot-wrapper {
    opacity: 0.5;
    height: max-content;
    top: 0;
    position: absolute;
    z-index: 3;
    width: inherit;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    text-align: center;
    background-color: var(--Casino-gray);
    content: "";
    padding: 16px 0px;
  }
  .jackpot-amount {
    position: absolute;
    z-index: 5;
    color: #ffffff;
    font-weight: 600;
    top: 0;
    right: 40%;
  }
}

@media (min-width: 1281px) {
  .grid-display {
    grid-template-columns: repeat(5, 1fr);
  }
}

@media (max-width: 1280px) {
  .grid-display {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 991px) { 
  .grid-display {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 767px) {
  .grid-display {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 456px) {
  .grid-display {
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
  }
}
